@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


body{
    font-family: Caveat, serif ;
    font-size: 20px;
    background: linear-gradient(43deg, #4d0c64 15%, #161964 100%);

}

.nav-link{
    color: antiquewhite;
}
.navbar-nav .nav-link.active{
    color: rgb(107, 255, 248);
}
.nav-link.active:hover{
    color: orange;
}

.navbar-toggler {
    background-color: azure;
}
.navbar-brand img{
    width: 35px;    
}

.card{
    background: linear-gradient(86deg, #4d0c64 15%, #161964 100%);
    color: aquamarine;
}
.btn-outline{
    color: rgb(0, 255, 128);
    font-size: x-large;
}
section{
    color: aquamarine;
    font-size: x-large
    ;
}
h1{
    text-align: center;
}
#qwer{
    color: aquamarine;
}
.list-group .list-group-item{
    background-color: purple;
    border-width: 0.001em;
    border-color: black;
    color: wheat;
}
h2{
    text-align: center;
    color: azure;
}
p{ 
    color: wheat;
}

a{ 
    text-decoration:none;
}
#v-pills-tab{  
    color: aqua;
}
.nav-link-active{
    background-color: rgb(40, 133, 240);
    border: none;
    text-align: center;
    width: 115px;
    
}
.nav-link-disabled {
    color: black;

}
.dr-web img{
    width: 250px;
    
}
.plus h2{
    color: rgb(10, 233, 10);
}
.minus h2{
    color: red;
}
.dr-web {   
    color: bisque;

    
}

.dr-web a{ 
    float: inline-end;
}

.avast-antivirus a{ 
    float: inline-end;
}

.avast-antivirus img { 
    width: 225px;
    margin-top: 25px ;
}


.avast-antivirus{   
    color: bisque;
}

.antivirus{ 
    background-color:rgb(139, 59, 113)  ;
}